<h3>Sometimes we select a random Person or Starship with doesn't exist, sorry about that</h3>
{{#link-to "people"}}
  <button>Try another set of People</button>
{{/link-to}}
{{#link-to "starships"}}
  <button>Try another set of Starships</button>
{{/link-to}}
