{{game-people modelPlayerOne=model.playerOne modelPlayerTwo=model.playerTwo modelPlayers=model.currentPlayers}}
<button {{ action "winnerIs" }}>Who is the winner</button>
<button {{ action "getNewModel" }}>Click to play again</button>
